/* body {
    background-color: #f00;
} */
#root {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.col {
    border: 1px solid black;
    flex: 1;
}
