#board {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    border: 1px solid black;
}

.white {
    background-color: #fff;
}

.black {
    background-color: #000;
}
